/* .text-center{
    font-size: 50px;
} */

#last{
    font-size: 50px;
    font-weight: bold;
    font-family: serif;
}

.img_center{
    margin-left: 250px;
    margin-right: auto;
    width: 75%;
}
#eq_space_time{
    font-size: 18px;
    padding-top: 20px;
    left: -250px;
    position: relative;
    text-align: center;
}

#eq_space_address{
    font-size: 18px;
    left: 200px;
    padding-top: 10px;
    position: relative;
    text-align: center;
}

#eq_space_comments{
    font-size: 18px;
    padding-top: 25px;
    left: 400px;
    position: relative;
    text-align: center;
}

.navbar-brand{
    font-size: 16px;
}
a:hover{
    font-size: 20px;
    background-color: black;
}

footer{
	background-color: black;
    	color: white;
}
